host    = Your host name
port    = Database Port Number
db_name = Database Name
user    = Username
pass    = password
charset = utf8mb4
redishost = Your Redis Host
redisport = Redis Port
redistimeout = Redis timeout
redisscheme = tcp